* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: Arial, sans-serif;
  background-color: #f7f7f7;
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100vh;
}

.navbar {
  background-color: #003d02; /* Cor verde para a navbar */
  width: 100%;
  text-align: center;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  padding: 10px 0; /* Ajuste automático ao tamanho do logo */
}

.logo {
  height: 100px; /* Tamanho do logo */
}

.container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-grow: 1;
}

.card {
  background-color: white;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  padding: 20px;
  width: 100%;
  max-width: 600px;
  border-radius: 8px;
}

h2, h3 {
  text-align: center;
  margin-bottom: 10px;
  line-height: 1.8; /* Espaçamento entre as linhas dos títulos */
}

p {
  line-height: 1.8; /* Espaçamento entre as linhas de parágrafos */
}

.form input, .form button {
  width: 100%;
  padding: 10px;
  margin-bottom: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
}

button {
  background-color: #003d02; /* Cor verde para o botão */
  color: white;
  cursor: pointer;
  border: none;
}

button:hover {
  background-color: #45a049;
}

.checkbox {
  display: flex;
  align-items: center; /* Garante que o checkbox e o texto fiquem alinhados na mesma linha */
  justify-content: flex-start; /* Alinha à esquerda */
  margin-bottom: 10px;
}

.checkbox input {
  margin: 0; /* Remove qualquer espaço entre o checkbox e o texto */
}

.checkbox label {
  margin: 0; /* Remove qualquer margem do texto */
  font-size: 16px; /* Tamanho legível do texto */
  white-space: nowrap; /* Impede quebra de linha no texto */
  display: inline; /* Garante que o texto e o checkbox estejam na mesma linha */
}

.date-picker {
  display: flex;
  flex-direction: column;
  margin-bottom: 10px;
}

.date-picker label {
  font-size: 14px;
  margin-bottom: 5px;
}

.date-picker input {
  padding: 8px;
  border: 1px solid #ccc;
  border-radius: 4px;
}

.visitor-list {
  margin-top: 20px;
}

ul {
  list-style-type: none;
  padding: 0;
  margin-top: 10px;
  max-height: 300px;
  overflow-y: auto;
}

li {
  display: flex;
  justify-content: space-between;
  padding: 8px;
  border-bottom: 1px solid #ddd;
}

li p {
  margin: 0;
}

button#downloadBtn {
  background-color: #003d02; /* Cor verde para o botão */
  color: white;
  cursor: pointer;
  border: none;
  width: 100%; /* Para manter o botão com o mesmo tamanho do outro */
  padding: 10px;
  border-radius: 4px;
}

button#downloadBtn:hover {
  background-color: #45a049; /* Cor de hover igual ao botão "Adicionar Visitante" */
}
